<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/css/prueba.css">
    <title>Documento de prueba</title>
</head>
<body>
    <section>
        <h3>Futbol</h3>
        <article>
            <div class="card">
                <img src="/view/img/botines-de-futbol-puma-ultra.jpg" alt="botines-de-futbol-puma-ultra">
                <h1>Botines Puma Ultra</h1>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="card">
                <img src="/view/img/pelota-de-argentina-adidas.jpg" alt="pelota-de-argentina-adidas">
                <h1>Pelota Adidas Argentina</h1>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="card">
                <img src="/view/img/camiseta-de-argentina-adidas.jpg" alt="camiseta-de-argentina-adidas">
                <h1>Camiseta Seleccion Argentina Adidas</h1>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </article>
    </section>
    <section>
        <h3>Basquet</h3>
        <article>
            <div class="card">
                <img src="/view/img/zapatilla-de-basquet.jpg" alt="zapatilla-de-basquet">
                <h1>Zapatilla de Basquet</h1>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="card">
                <img src="/view/img/pelota-basquet.jpg" alt="pelota-basquet">
                <h1>Pelota de Basquet</h1>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="card">
                <img src="/view/img/aro-de-basquet-profesional.jpg" alt="aro-de-basquet-profesional">
                <h1>Aro de Basquet profesional</h1>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </article>
    </section>
    <footer>
        <p style="color: #bf7c2a">&copy; Veterinaria digital - FullStack Team. </p>
    </footer>
</body>
</html>