.modal-container {
    overflow-y: scroll;
}

.modal {
    opacity: 0.8;
}

.table {
    width: 100%;
    background-color: white;
}

thead {
    height: 50px;
    background-color: #654ac4;
    border-bottom: solid 2px rgb(119, 119, 119);
    color: white;
}

tr,
td {
    padding: 25px;
}

tfoot {
    background-color: #ddd;
}

#total {
    text-align: center;
}