.product{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.image{
    float: left;
    width: min-content;
    height: 100%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.image img{
    width: 350px;
    height: 300px;

}

.info {
    float: left;
    margin-left: 20%;
    display: inline;
    text-align: start;
    margin: 0%;
    padding: 5%;
    font-family: 'Times New Roman', Times, serif;
}

.info h1 {

    font-size: xx-large;
    margin: 0;
    padding: 0;
}


.futbol{
    color: #5fc24e;

}

.basquet {
    color: #fa4443;

}

.tenis {
    color: #e3bb44;

}

.natacion {
    color: #45a4c4;

}

.details {
    font-size: large;
    text-align: start;
    left: 0;
}


