* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*  BODY */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient( to right, #ebd722 0%, #e44e52 100%);
    border-bottom: 1px solid #b6a7a7;
    box-shadow: 0 4px 20px 0 rgba(139, 105, 105, 0.2);
}

.title {
    width: 100%;
    position: relative;
    text-align: center;
    color: black;
    font-family: 'Bebas Neue', cursive;
}

.logo {
    float: left;
    width: 45%;
    margin-left: 30%;
    object-fit: cover;
}

.search,
.cart {
    align-items: center;
}

.search {
    position: relative;
    width: 100%;
    margin-right: 2em;
    padding: 5px 1% 0 1%;
    border-radius: 40px;
    background: #ffffff99;
}

.form-search {
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    float: left;
    line-height: 30px;
    color: #000;
}

.button-search {
    float: right;
}

.cart-shop {
    margin-right: 50px;
}

.cart {
    text-align: left;
    font-size: 40px;
    -webkit-text-stroke: 2px black;
    color: transparent;
}

.cart:hover {
    -webkit-text-stroke: 2px white;
}


/* NAVIGATOR (OPTIONS) */

nav {
    width: 100%;
    height: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background: linear-gradient( to right, #f1e78b 6%, #f78c90 100%);
    /* border-bottom: 1px solid #000000; */
    box-shadow: 0 8px 10px 0 rgba(139, 105, 105, 0.2);
}

ul,
li {
    list-style: none;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    width: 30%;
    margin: 1%;
    margin-top: 10px;
}

li a {
    padding: 15px 20% 10px 20%;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    color: #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

li a.section-futbol:hover {
    background-color: #5fc24e;
    color: white;
}

li a.section-futbol {
    background-color: #77f073;
}

li a.section-basquet:hover {
    background-color: #c44e23;
    color: white;
}

li a.section-basquet {
    background-color: #fa4443;
}

li a.section-tenis:hover {
    background-color: #e3bb44;
    color: white;
}

li a.section-tenis {
    background-color: #fad141;
}

li a.section-natacion:hover {
    background-color: #45a4c4;
    color: white;
}

li a.section-natacion {
    background-color: #6dcafc;
}

li a.section-encuesta {
    background-color: #8e44ad;
}

li a.section-encuesta:hover {
    background-color: #742f92;
    color: white;
}

.menu li a img {
    float: center;
    width: fit-content;
    height: 20px;
}

.menu a {
    text-align: right;
}


/* MAIN (SECTIONS) */

main {
    text-align: center;
    margin-bottom: 50px;
}

article {
    display: flex;
    justify-content: space-evenly;
}

.sub-title {
    height: 60px;
    border-radius: 5px;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 2%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.sub-futbol {
    background-color: #77f073;
}

.sub-basquet {
    background-color: #fa4443;
}

.sub-tenis {
    background-color: #fad141;
}

.sub-natacion {
    background-color: #6dcafc;
}

a.sub-futbol,
a.sub-basquet,
a.sub-tenis,
a.sub-natacion {
    text-decoration: none;
    color: black;
}

a.sub:hover {
    color: white;
}

.card {
    max-width: 25%;
    max-height: 30%;
    padding-bottom: 40px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h1.description {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.card img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.card-futbol {
    border: 1px solid #77f073;
}

.card-basquet {
    border: 1px solid #fa4443;
}

.card-tenis {
    border: 1px solid #fad141;
}

.card-natacion {
    border: 1px solid #6dcafc;
}

.price {
    color: grey;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

.section-name {
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}

.control-button {
    display: flex;
    margin-left: 25%;
}

.button {
    text-decoration: none;
    padding: 4%;
    padding-bottom: 5%;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: rgb(70, 221, 43);
    border-radius: 6px;
    border: 2px solid rgb(70, 221, 43);
}

.button:hover {
    color: rgb(70, 221, 43);
    background-color: #ffffff;
}

.add-cart {
    font-size: 20px;
}


/* FOOTER */

.footer {
    padding: 1em;
    margin-top: auto;
    z-index: 1;
    text-align: center;
    background: linear-gradient( to right, #b222eb 0%, #e44e52 100%);
    border-top: 1px solid #b6a7a7;
    box-shadow: 20px 4px 8px 15px rgba(139, 105, 105, 0.2);
}